<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
		<title>Eat-da-burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/burger.js"></script>
	</head>
	<body>
		<img src="/assets/img/burger.png" alt="Burger">
		{{{ body }}}
	</body>
	<script>
		$(function() {
			$(".devour").on("click", function(event) {
				//Save id of devoured burger
				var id = $(this).data("burgid")
				//Changed devour status to true
				var updatedBurg = {
					devoured : 1
				}
				//Send update request
				$.ajax("/burgers/" + id, {
					type: "PUT",
					data: updatedBurg
				}).then(
					function() {
						console.log("Updated id ", id);
						//Reload the page for updated liste
						location.reload();
					}
				)
			})
			
			$("#submit").on("click", function(event) {
			//Prevent default from submit event
			console.log("hello world")
			event.preventDefault();

			var burgName = $("[name=burgInput]").val().trim()

			//Alert user if no name was entered into input
			if(burgName === '') {
				return alert('Please enter a valid burger name')
			} else {
			var newBurg = {
				burgName: burgName
			}
			//Send post request
			$.ajax("/burgers", {
				type: "POST",
				data: newBurg
			}).then(
				function() {
					console.log("Created new burger")
					//Reload page to display new burger
					//This will fire the root route, triggering previously built code
					location.reload();
				})
				}
			})
		})

	</script>
</html>
