<img src="/public/assets/img/burger.png" alt="Burger">
<h1>Eat-Da-Burger!</h1>
<ul>
    {{#each burgers}}
        <li>
            <h3 id="burgType"> 
                {{this.burger_name}}
            </h3>
            <button id="devour">Devour it</button>
            <br>
        </li>
    {{/each}}
</ul>
<br>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
                <h3 id="devouredBurg"> 
                    {{this.burger_name}}
                </h3>
            </li>
        {{/if}}
    {{/each}}
</ul>
<br>

<form id="burgInput" class="">
    <input type="text" name="burgInput">
    <button type="submit">Submit</button>
    <p>Enter a burger you want to eat then click the "Submit button</p>
</form>